{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Nearby Lost Items</h2>
<div class="row">
  {% for item in items %}
  <div class="col-md-3">
    <div class="card mb-3">
      <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.label }}">
      <div class="card-body">
        <h5 class="card-title">{{ item.label }}</h5>
        <p class="card-text">Lost at: {{ item.lost_at }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
